:root{
    --primary-color: #da1e05b5;
    --secondary-color: #eae9e999;
    --text-color:#333;
    --heading-color:#333;
    --font-family: 'Arial', sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.fixed-top{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 999;
}

/* Hero Section */
.hero_section {
    background-image: url('../images/back.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    .section_heading{
        font-size:30px;
        font-weight:500;
        color:#fff;
        font-style : italic;
    }

    .section_subheading{
        font-size: 60px;
        font-weight:700;
        color: #fff;
        margin-top:10pz;
    }
    .btn-danger{
        background-color: var(--primary-color);
        border: none;
        color: #fff;
        padding:10px 40px;
        border-radius: 5px;
       font-size:16px;
        font-weight:600;
        margin-top:20px;
    }
    .btn-outline-danger{
        border: 2px solid var(--primary-color);
        color: var(--primary-color);
        padding:10px 40px;
        border-radius: 5px;
       font-size:16px;
        font-weight:600;
        margin-top:20px;
    }
}

/* Service Section */
.service_section {
    padding: 100px 0;
    .section_heading {
        font-size:50px;
        font-weight:700;
        color:var(-- heading-color);
        margin-top:10px;
    }
    .section_subheading {
        font-size:14px;
        font-weight:500;
        color:var (--text-color);
        margin-top : 10 px;
        padding: 0 300px;
    }
    .service_box{
        .service_icon{
        background-color: var(--primary-color);
        padding:20px;
        width:100px;
        height: 100px;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius:50%;
        font-size:50px;
        color:#fff;

     }
     h2{
        font-size: 26px;
    font-weight: 700;
    margin-top: 6px;
     }
     p {
        font-size: 14px;
        color: var(--text-color);
        margin-top: 10px;
     }
    }
}
/* Portfolio Section */
.portfolio_section {
    background:#eae9e999;
padding: 100px 0;
    .section_heading {
        font-size:50px;
        font-weight:700;
        color:var(-- heading-color);
        margin-top:10px;
    }
    .section_subheading {
        font-size:14px;
        font-weight:500;
        color:var (--text-color);
        margin-top: 10 px;
        padding: 0 300px;
    }
    .portfolio_item{
        background: #ddd;
        border-radius:10px;
        overflow:hidden;

        .portfolio_content{
            padding: 30px 20px;
            h2{
                font-size:26px;
                font-weight:700;
                margin-top:15px;
            }
            p {
        font-size: 14px;
        color: var(--text-color);
        margin-top: 10px;
     }
     a{
        background: var(--primary-color);
        color: #f3efef;
        padding:14px 40px;
        font-size:16px;
        font-weight: 600;
        margin-top:20px;
        text-decoration:none;
        border-radius:6px;
        margin-top:8px;
        display:inline-block;
        transition: all 0.2s linear;
        &:hover{
            background: var(--secondary-color);
            color:#da1e05b5;
        }
     }
        }
    }
}

/*About Me Section */
.about_section{
    padding: 100px 0;
    .section_heading {
        font-size:50px;
        font-weight:700;
        color:var(--heading-color);
        margin-top:10px;
    }
    .section_subheading{
        font-size :14px;
        font-weight:500;
        color:var(--text-color);
        margin-top: 10px;
        padding:0, 300px;
    }
    
}